<%= tag.li class: "flex flex-col border kanban-col-item my-2 rounded shadow-md bg-indigo-600 px-3 py-2 text-white", id: "li-#{job.id}" do %>
    <div class="flex items-center">
      <img src="<%= job.company.logo_url.starts_with?('http') ? job.company.logo_url : image_path('default_company_logo.png') %>" class="rounded-full w-8 h-8 mr-2"/>
      <div class="flex flex-col">
        <p class="text-md">
          <%= job.title %>
        </p>
        <p class="text-sm">
          <%= job.company.name %>
        </p>
      </div>
    </div>
    <%= link_to "X", contact_job_path(ContactJob.find_by(contact_id: @contact.id, job_id: job.id)), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: "ml-auto" %>
<% end %>

