<h2 class="text-center py-3 border-b border-neutral-800 modal-header">Add Task</h2>
<%= form_for [Job.find(params[:job_id]), @task] , local: true, class: "flex flex-col px-5", data: { modal_target: "form" } do |form| %>
  <div class= "flex flex-col mt-3 ">
    <%= form.label :title, "Task Title" %>
    <%= form.text_field :title, class: "rounded-md" %>
  </div>
  <div class= "flex flex-col mt-3">
    <%= form.label :starts_at, "Start Date" %>
    <%= form.date_field :starts_at, class: "rounded-md" %>
  </div>
  <div class= "flex flex-col mt-3">
    <%= form.label :ends_at, "End Date" %>
    <%= form.date_field :ends_at, class: "rounded-md" %>
  </div>
  <div class= "flex flex-col mt-3">
    <%= form.label :note, "Note" %>
    <%= form.text_field :note, class: "rounded-md" %>
  </div>
  <div class= "flex flex-col mt-3">
    <%= form.label :task_status, "Completed" %>
    <%= form.check_box :task_status, class: "rounded-md" %>
  </div>
  <div class="flex justify-between">
    <div class= "w-1/3 bg-sky-600 rounded-md mt-3 py-1 text-white text-center mb-5" data-action="click->turbo-modal#hideModal">Discard</div>
    <div class= "w-1/3 bg-sky-600 rounded-md mt-3 py-1 text-white text-center mb-5">
      <%= form.submit %>
    </div>
  </div>
<% end %>
