<%= form_with model: @job, local: true, class: "flex flex-col px-5 modal-body" do |form| %>
  <div class="grid grid-rows-2 grid-flow-col gap-4">
  <div class= "flex flex-col mt-3 relative inline-block" data-controller="search-company">
    <%= form.label :company, "Company" %>
    <%= form.text_field :company_id, data: { search_company_target: "searchbar", action: "keyup->search-company#change" }, value: Company.find(@job.company_id).name %>
    <ul class="search-results absolute left-0 right-0 z-99 top-full bg-gray-200" data-search-company-target="results"></ul>
    <%= form.hidden_field :logo_url, data: { search_company_target: "logourl" } %>
  </div>
    <div class= "flex flex-col mt-3 ">
      <%= form.label :title, "Job Title" %>
      <%= form.text_field :title, class: "rounded-md" %>
    </div>
    <div class= "flex flex-col mt-3">
      <%= form.label :url, "Job URL" %>
      <%= form.text_field :url, class: "rounded-md" %>
    </div>
    <div class= "flex flex-col mt-3">
      <%= form.label :salary, "Salary" %>
      <%= form.text_field :salary, class: "rounded-md" %>
    </div>
  </div>
  <div class= "flex flex-col mt-3">
    <%= form.label :location, "Location" %>
    <%= form.text_field :location, class: "rounded-md" %>
  </div>
  <div class="flex mt-3">
    <%= form.label "Change color of this job : ", class: "mr-3" %>
    <%= form.color_field :color %>
  </div>
  <div class="flex justify-end">
    <div class= "rounded-md mt-3 py-1 border text-gray-600 text-center mb-5 px-2 cursor-pointer" data-action="click->turbo-modal#hideModal">Discard</div>
    <div class= "bg-sky-600 rounded-md mt-3 py-1 px-3 text-white text-center mb-5">
      <%= form.submit class: "cursor-pointer" %>
    </div>
  </div>
<% end %>
