<div class="flex grow w-full" data-controller="kanban" >
  <% @statuses.each do |status| %>
    <div class="basis-1/5 border h-full">
      <div class="flex flex-col  min-h-screen pt-16 px-3">
        <h2 class="text-center">
          <%= status.name %>
        </h2>
        <p class="text-center mb-5">
          <%= "#{status.jobs.count} #{'job'.pluralize(status.jobs.count).upcase}" %>
        </p>
        <%
=begin%>
 <p class="border text-center mb-3" data-action="click->kanban#toggleForm">New Job</p>
<%
=end%>
 <%= link_to "New Job", new_job_path(status_id: status.id), class: "border text-center mb-3", data: { turbo_frame: "modal" } %>
        <ul class="kanban-col grow" data-id="<%= status.id %>">
          <% status.jobs.order(:status_position).each do |job| %>
            <%= link_to edit_job_path(job), class: "btn btn-primary", data: { turbo_frame: "modal" } do %>
              <li class="flex flex-col border kanban-col-item my-2" data-id="<%= job.id %>" data-position="<%= job.status_position %>">
                <p>
                  <%= job.title %>
                </p>
                <p>
                  <%= job.company.name %>
                </p>
                <%= link_to "Delete", job_path(job), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
