<div class="flex" data-controller="kanban" >
  <% @statuses.each_with_index do |status, index| %>
    <div class="border h-full w-80">
      <div class="flex flex-col  min-h-screen pt-8 px-3">
        <div class="text-center text-gray-400 relative">
          <i class="<%= @icons[index] %> absolute left-0 top-1/2 -translate-y-1/2"></i>
          <h2><%= status.name %></h2>
        </div>
        <p class="text-center mb-5 text-gray-400">
          <span id="span-<%= status.id %>"><%= status.jobs.count %></span><span id="span-job-<%= status.id %>"><%= " #{'job'.pluralize(status.jobs.count).upcase}" %><span>
        </p>
        <%= link_to new_job_path(status_id: status.id), data: { turbo_frame: "modal" } do %>
          <div class="border text-center mb-3 rounded shadow-md text-gray-400" >
            <i class="fas fa-plus mr-2"></i>New Job
          </div>
        <% end %>
        <ul class="kanban-col grow" data-id="<%= status.id %>" id="ul-<%= status.id %>">
          <% status.jobs.order(:status_position).each do |job| %>
            <%= render partial: "jobs/job", locals: { job: job } %>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
