<div class="flex" data-controller="kanban" >
  <% @statuses.each do |status| %>
    <div class="border h-full w-80">
      <div class="flex flex-col  min-h-screen pt-8 px-3">
        <h2 class="text-center">
          <%= status.name %>
        </h2>
        <p class="text-center mb-5">
          <span id="span-<%= status.id %>"><%= status.jobs.count %></span><span> <%= 'job'.pluralize(status.jobs.count).upcase %></span>
        </p>
        <%= link_to new_job_path(status_id: status.id), data: { turbo_frame: "modal" } do %>
          <div class="border text-center mb-3 rounded shadow-md" >
            <i class="fas fa-plus"></i>New Job
          </div>
        <% end %>
        <ul class="kanban-col grow" data-id="<%= status.id %>" id="ul-<%= status.id %>">
          <% status.jobs.order(:status_position).each do |job| %>
            <%= render partial: "jobs/job", locals: { job: job } %>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
