<div class="w-full">
  <%= form_with model: @contact, local: true, class: "bg-white shadow-md rounded px-8 pt-6 pb-8", data: { modal_target: "form" } do |form| %>
    <div class="grid grid-cols-2 gap-4">
      <div class="col-span-2">
        <h2 class="text-indigo-900 text-2xl mb-6 text-center">Add contact</h2>
      </div>
      <div>
        <label class="block text-indigo-900 mb-2" for="first_name">
          First Name
        </label>
        <%= form.text_field :first_name, class: "w-full px-4 py-2.5 rounded-lg border-2 border-gray-300 focus:outline-none focus:border-indigo-500 placeholder-gray-400", id: "first_name", type: "text", placeholder: "John" %>
      </div>
      <div>
        <label class="block text-indigo-900 mb-2" for="last_name">
          Last Name
        </label>
        <%= form.text_field :last_name, class: "w-full px-4 py-2.5 rounded-lg border-2 border-gray-300 focus:outline-none focus:border-indigo-500 placeholder-gray-400", id: "last_name", type: "text", placeholder: "Doe" %>
      </div>
      <div class="col-span-2">
        <label class="block text-indigo-900 mb-2" for="job_title">
          Job Title
        </label>
        <%= form.text_field :job_title, class: "w-full px-4 py-2.5 rounded-lg border-2 border-gray-300 focus:outline-none focus:border-indigo-500 placeholder-gray-400", id: "job_title", type: "text", placeholder: "Software Engineer" %>
      </div>
      <div class="col-span-2 relative inline-block" data-controller="search-company">
        <label class="block text-indigo-900 mb-2" for="company">
          Company
        </label>
        <%= form.text_field :company_id, data: { search_company_target: "searchbar", action: "keyup->search-company#change" }, class: "w-full px-4 py-2.5 rounded-lg border-2 border-gray-300 focus:outline-none focus:border-indigo-500 placeholder-gray-400", id: "company", type: "text", placeholder: "Google Inc." %>
        <ul class="search-results absolute left-0 right-0 z-99 top-full bg-gray-200" data-search-company-target="results"></ul>
        <%= form.hidden_field :logo_url, data: { search_company_target: "logourl" } %>
      </div>
      <div class="col-span-2">
        <label class="block text-indigo-900 mb-2" for="location">
          Location
        </label>
        <%= form.text_field :location, class: "w-full px-4 py-2.5 rounded-lg border-2 border-gray-300 focus:outline-none focus:border-indigo-500 placeholder-gray-400", id: "location", type: "text", placeholder: "Mountain View, CA" %>
      </div>
      <div class="col-span-2">
        <h2 class="text-indigo-900 text-2xl  mb-6">Personal details</h2>
      </div>
      <div>
        <label class="block text-indigo-900 mb-2" for="email">
          Email Address
        </label>
        <%= form.text_field :email, class: "w-full px-4 py-2.5 rounded-lg border-2 border-gray-300 focus:outline-none focus:border-indigo-500 placeholder-gray-400", id: "email", type: "email", placeholder: "johndoe@example.com" %>
      </div>
      <div>
        <label class="block text-indigo-900 mb-2" for="phone">
          Phone Number
        </label>
        <%= form.text_field :phone, class: "w-full px-4 py-2.5 rounded-lg border-2 border-gray-300 focus:outline-none focus:border-indigo-500 placeholder-gray-400", id: "phone", type: "tel", placeholder:"+1 (123) 456-7890" %>
      </div>
    </div>
    <div class="flex items-center justify-end mt-8 gap-2">
      <div class= "cursor-pointer border text-gray-600 py-2 px-4 rounded focus:outline-none focus:shadow-outline" data-action="click->turbo-modal#hideModal">Discard</div>
      <%= form.submit class: "bg-indigo-600 hover:bg-indigo-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
    </div>
  <% end %>
</div>