<!DOCTYPE html>
<html>
  <head>
    <title>Jobapplicationmanager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="flex">
      <% if user_signed_in? %>
        <%= render 'layouts/navbar' %>
      <% end %>
      <div class="container">
        <%= turbo_frame_tag "modal" %>
        <%= turbo_frame_tag "task_modal" %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
