<!DOCTYPE html>
<html>
  <head>
    <title>Jobapplicationmanager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <link rel="stylesheet" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="flex">
      <% if user_signed_in? %>
        <%= render 'layouts/navbar' %>
      <% end %>
      <div class="flex flex-col w-full">
        <div class="w-full text-center border-b py-2" >
          <% if params[:controller] == "pages" %>
            <%= "Dashboard".capitalize %>
          <% else %>
            <%= params[:controller].capitalize %>
          <% end %>
        </div>
        <div class="container">
          <%= turbo_frame_tag "modal" %>
          <%= turbo_frame_tag "task_modal" %>
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
